<form ng-submit="submitTeam()">
    <p>
        <strong>Team Name Abbreviation:</strong>
        <input type="text" ng-model="teamAbbr" maxlength="3" required>
        <button type="submit">Find team data</button>
    </p>
</form>

<div data-ng-repeat="players in teamData">
    <div data-ng-repeat="player in players track by $index">
        <div data-ng-if="player.name">
            <ul>
                <li><strong>{{ player.name }}</strong></li>
                <ul>
                    <li><strong>Position:</strong> {{ player.position }}</li>
                    <li><strong>Number:</strong> {{ player.number }}</li>
                    <li><strong>Age:</strong> {{ player.age }}</li>
                    <li><strong>Weight:</strong> {{ player.weight }}</li>
                    <li><strong>Height:</strong> {{ player.height }}</li>
                    <li><strong>Birthplace:</strong> {{ player.birthdate }}</li>
                    <li><strong>Birthdate:</strong> {{ player.birthplace }}</li>
                </ul>
            </ul>
        </div>
    </div>
</div>
